/* Dark mode styling */
body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode .card {
    background-color: #333;
}

.dark-mode .btn {
    background-color: #444;
    color: white;
}

.dark-mode .modal-content {
    background-color: #333;
}

/* Custom styles for smooth animations */
.card {
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
}

#previewImage {
    transition: opacity 0.2s ease;
}
